*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.nav-item{
    font-size: 20px;
    text-indent: 40px;
}

.introduction{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.max-width{
    max-width: 1300px;
    padding: 80px;
    margin: auto;
}

.title{
    position: absolute;
    content: "";
    bottom: 449px;
    left: 55%;
    width: 180px;
    height: 2px;
}

.containerfluid{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
}
